.listHeading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000
}

.listItem {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
}

.listItemItalic {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	font-style: italic;
}

ul {
	position: relative;
	left: -20px;
	clip: rect();
	list-style-image: url(images/clear.gif)
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
}

textarea { 
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 12px;
}

.dataValue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.dataValueItalic {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
}

.label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

.menuBar {
	background-color: #000099;
	color: #003399
}

.leftFrame {
	background-color: #CDD7E1
}

.contentHeading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}

a {
	text-decoration: none
}

a.actionItem {
	color: blue;
}

a.actionItem:hover {
	color: #CC6633;
}

a.actionItemBlack {
	color: #000000;
}

a.actionItemBlack:hover {
	color: #CC6633;
	cursor: pointer;
}

.evenRow {
	background-color: white;
}

.oddRow {
	background-color: #CEC8E8;
}

.headerRow {
	background-color: gray;
}

.highlightRow {
	background-color: yellow;
}

.errorText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: red
}

.errorTextSmall {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	color: red
}

.infoTextSmall {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	color: black
}

.lightText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: white
}

.infoText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: black
}

.helpText {
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-size: 12px font-weight :             normal;
	color: #CC6600
}

.productListHighlight {
	background-color: white;
}

.smallButton {
	width: 150px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
}

.dataValueAmber {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: orange
}

.dataValueGreen {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: green
}

.dataValueRed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: red
}

.dataValueBlue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: blue
}

.dataValueYellow {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: yellow
}

.dataValueSmall {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: bold;
	color: black
}

.dataValueItalicSmall {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: italic;
	font-weight: normal;
	color: black
}

table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 5px;
	margin-bottom: 5px
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 5px;
	margin-bottom: 5px
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 0px;
	padding-bottom: 0px
}

h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 0px;
	padding-bottom: 0px
}

.helpTextSmall {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	color: #CC6600
}

.listItemPadded {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px
}

.listHeadingPadded {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px
}

a.actionItemGrey {
	color: #999999;
}

.adminInfoText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: blue
}

DIV.pg {
	position: absolute;
	width: 95%;
	height: 95%;
}

DIV.cnt {
	position: absolute;
	top: 6%;
	left: 0%;
	font-size: 15pt;
	width: 100%;
	height: 87%;
	overflow: "auto";
	background: white;
}

DIV.btn {
	position: absolute;
	top: 94%;
	right: auto;
	left: 0%;
	bottom: 0%;
	font-size: 15pt;
	text-align: top;
}

.tip {
	font: 10px/ 12px Arial, Helvetica, sans-serif;
	border: solid 1px #666666;
	width: 250px;
	padding: 1px;
	position: absolute;
	z-index: 100;
	visibility: hidden;
	color: #333333;
	top: 20px;
	left: 90px;
	background-color: #ffffcc;
	layer-background-color: #ffffcc; 
}

.askField .dijitComboBox, .askField .dijitInputField { background-color: red; }
.askField { background-color: red; }

#member .memberAddress { display: table-row; }
#member.hideMemberAddress .memberAddress { display: none; }