   div.dojoTree{  font-family: Arial, Helvetica, sans-serif;
                font-weight:normal;
                height:420;
                overflow:none;}
   table.dataTable {
       font-family: Arial, Helvetica, sans-serif;
          width:100%;
          border-collapse:collapse;
          cursor:default;}
   table.dataTable thead td, table thead th {background-color: gray; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px}
   table tbody tr td{alternateRows:true; }
   table tbody tr.alt td{background: #CEC8E8}
   table tbody tr.selected td{background:#d0ebfa;}
